/* Nav */
nav {
  list-style: none;
  background-color: #595959;
  padding: 10px 0 10px 0;
  text-align: center;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
}

nav > ul > li > ul {
  position: absolute;
  padding: 20px 60px 5px 15px;
  background-color: #595959;
  display: none;
  list-style: none;
}

nav > ul > li > ul > li {
  padding-bottom: 10px;
}

nav > ul > li:hover > ul {
  display: block;
}

@media only screen and (max-width: 400px) {
  nav > ul > li > ul > li {
    display: none;
  }
}
