/* 
  Name: Ben Manker
  Date: Thu Apr 7 2022
*/

* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #05050c;
}

.paragraphs > p::first-letter {
  font-size: 130%;
  font-weight: 700;
}

.indent {
  text-indent: 30px;
}

@media only screen and (min-width: 800px) {
  main {
    /* display: flex; */
    flex-wrap: wrap;
  }
  h1 {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
  }
  img {
    width: 200px;
    padding-right: 50px;

    /* justify-content: center; */
  }
  .paragraphs {
    display: inline-block;
  }
  .photo {
    float: left;
    display: inline-block;
  }
}
